[2016-03-24 04:03] topowright opened #4 "Make the repo public"
This repo needs to be made public

[2016-05-03 19:22] jmccausland commented on #4
this is now public

[2016-05-03 19:22] #4 closed

[2016-05-04 14:37] pshowalter opened #18 "Batch InstallMilitaryToolsFoArcGISPro.bat is out of sync with Addin file name."
Batch file (or Addin) does not match.

InstallMilitaryToolsFoArcGISPro.bat is looking .\ArcGISPro\MilitaryToolsToolbar\ArcGISProAddinMAToolbar.esriAddInX
 however the the download I found contains

.\current\ArcGISPro\Addins\MilitaryToolsToolbar\ArcGISProMAToolbar.esriAddInX

[2016-05-04 16:16] csmoore opened #20 "Add Pro Symbol Editor"
I didn't realize there was a Pro toolbar(tab?) so I suppose it is time to add the Symbol Editor to this tab & batch register file.

I guess this also answers the (unanswered) question I had here:
https://github.com/Esri/military-symbol-editor-addin-wpf/issues/38

[2016-05-04 16:52] dhagens commented on #20
Let me know if you have any issues adding the Symbol Editor to the MilitaryTools toolbar.  I was able to add it yesterday but want to make sure my instructions are adequate in the readme.

[2016-05-04 20:03] mfunk commented on #18
Seeing this with the 5/4/2016 9:06 AM build (#330) pulled from
*\\redarchive2\disl\Development\Commercial\Military Tools For ArcGIS\current*

The message is:
![image](https://cloud.githubusercontent.com/assets/3093182/15027204/75f436c8-11f7-11e6-9c67-f717d7ddf170.png)

Looking into the **InstallMilitaryToolsFoArcGISPro.bat**:

[code]

The problem I'm seeing is that the file that is to be registere

[2016-05-04 20:18] csmoore commented on #18
I'll include an un-install batch as part of this fix so we can more easily uninstall and catch these problems (because I had built in studio I didn't even catch this when I updated the script)

[2016-05-04 21:05] ACueva commented on #18
I thought we were shifting away from using "MA" in our product names.
@topowright can you shed some light here please?

[2016-05-05 16:04] #20 closed

[2016-05-06 13:40] pshowalter commented on #18
Batch file now calls the correct name for ArcGISProMAToolbar.esriAddInX.

Q: Is using the silent install is best way to go in batch file; the batch file reports "Successfully Registered Pro Add-ins", whether the Add-in was installed or not.

[2016-05-06 13:40] #18 closed

[2016-05-06 14:18] csmoore commented on #18
@pshowalter - the other 4 addins were already using a silent install option (so presumably had the same issue that you don't know if they work), so I just made the toolbar line look like the rest - I was under the impression that toolbar line with "start " was done that way because of a workaround on ArcMap only.

But feel free to turn the silent- `\s` option off/on as desired - I didn't mean to c

[2016-05-06 21:27] ACueva opened #22 "Batch file does not register ArcGIS Pro addins"
Installer shows the addins were successfully registered.  Once ArcGIS Pro 1.2 is opened, no addins are present.

Environment: WIndows 10
Version: ArcGIS Pro 1.2

Tried running with elevated administrator permissions, same result.

The uninstall batch file works fine.

[code]

[2016-05-09 12:39] dhagens commented on #22
Tested this this morning and everything seems to be working fine.  Please retest.

[2016-05-09 12:40] dhagens commented on #22
I am running on Windows 7 though.  Not sure if 10 is the issue.

[2016-05-09 12:50] csmoore commented on #22
@ACueva - since I'm the last one to touch/break I can also checkout what might be going wrong on your machine (I tested with Windows 10) - just ping

[2016-05-10 18:35] ACueva commented on #22
The issue appears when I try to run the script from a network share.  If I copy the directory to my local machine it is a non issue.
The work-around to this issue is to remove this line:
https://github.com/Esri/military-tools-for-arcgis/blob/dev/source/MilitaryToolsToolbar/ArcGISProAddinMAToolbar/InstallMilitaryToolsFoArcGISPro.bat#L1

Replace it with:
[code]

The only issue is for the ArcMap batc

[2016-05-10 19:23] csmoore commented on #22
@dhagens @jmccausland @topowright - do you recall why the `start` was added to `start ESRIRegAddIn.exe Addins\MilitaryToolsToolbar\ArcMapAddinMAToolbar.esriAddIn` line. Can it be removed (I removed it from the Pro version of the script)? It seemed to work fine for Avi without the extra `start` and removing this is the only other thing needed to resolve this issue.

[2016-05-10 19:29] jmccausland commented on #22
Without the start in the ArcMap version on a Win7 machine, the user would not be able to see the install dialog for the addIn.  I have not been involved with testing the Pro version.

Is this just for Jenkins?

[2016-05-10 19:36] dhagens commented on #22
It will work either way, but like Joe said, no confirmation dialog w/o the start for the MilitaryTool Add-In.

[cid:image001.png@01D1AAD1.BCF42A20]

From: Joseph McCausland [mailto:notifications@github.com]
Sent: Tuesday, May 10, 2016 3:29 PM
To: Esri/military-tools-for-arcgis
Cc: Daniel Hagens; Mention
Subject: Re: [Esri/military-tools-for-arcgis] Batch file does not register ArcGIS Pro addins (#

[2016-05-10 19:51] csmoore commented on #22
The change is mainly so people can run directly from the network share of the build `\\{buildshare}\Military Tools For ArcGIS\current`

On both Windows 7 and 10 we didn't noticed a difference - without `\s` silent - we get the confirmation pop-up

[2016-05-10 20:05] dhagens commented on #22
Test with and w/o the start using the /s.  You will see different results.  That’s how it works for me on Windows 7.  If the confirmation popup for the Add-In install is not necessary, we can get rid of the start.

From: Chris Moore [mailto:notifications@github.com]
Sent: Tuesday, May 10, 2016 3:51 PM
To: Esri/military-tools-for-arcgis
Cc: Daniel Hagens; Mention
Subject: Re: [Esri/military-tools-f

[2016-05-17 21:36] ACueva commented on #22
@csmoore @dhagens perhaps this should be assigned to someone?

[2016-05-19 13:10] topowright opened #25 "Changing the name of the add-in file for the Toolbar"
@nfeuerstein @conklinbd @lfunkhouser

We would like to rename this toolbar like we have done our components. Currently I think the name should be MilitaryToolsForArcGIS based on other products that I have seen such as WebAppBuilder. Is this name okay or would you like it named something else?

[2016-05-19 17:43] conklinbd commented on #25
If this is the filename for the toolbar it should be MilitaryToolbar or something like that. The name MilitaryToolsforArcGIS is the product name for the entire product, not a single toolbar name.

[2016-05-20 20:08] nfeuerstein commented on #25
How about MilitaryTools?

[2016-05-20 20:54] ACueva commented on #22
Verified by running directly from a network drive.

[2016-05-20 20:54] #22 closed

[2016-07-08 15:46] pshowalter opened #28 "UN-InstallMilitaryToolsForArcMap.bat - Indicates failed - seems to need quotes on paths with spaces"
@csmoore
UN-InstallMilitaryToolsForArcMap.bat - Indicates "Uninstallation failed" - seems to need quotes on paths with spaces

![image](https://cloud.githubusercontent.com/assets/6842145/16692988/28587072-4501-11e6-8f08-ef64c6bc73f7.png)

[2016-07-08 17:08] csmoore commented on #28
Sorry about that - looks like this never actually worked on ArcMap & you are the first one to try/report

https://github.com/Esri/military-tools-for-arcgis/pull/29 - @pshowalter please verify

[2016-07-11 16:59] pshowalter opened #31 "visibility-addin-dotnet not listed in "Related Repositories""
@topowright
Should list https://github.com/Esri/visibility-addin-dotnet in the "Related Repositories" on README.md?

[2016-08-05 22:23] pshowalter commented on #28
@csmoore @jmccausland @dhagens

It seems that the AddIns are installed in
C:\Users\XXXX\Documents\ArcGIS\AddIns\Desktop10.3.

ArcMap 10.4.1 will find them and use them, but the UninstallMilitaryToolsForArcMap.bat and ESRIRegAddIn.exe is looking for the "Add In ID" folder in the
C:\Users\XXXX\Documents\ArcGIS\AddIns\Desktop10.4 folder.

If the AddIn's arc copied from \Desktop10.3 to \Desktop10.4 fo

[2016-08-08 13:05] csmoore commented on #28
@pshowalter - I'm not sure I quite understand the issue reported. Is the issue that the ArcMap Addins are installed to `Documents\ArcGIS\AddIns\Desktop10.3` regardless of the ArcGIS version installed and the uninstall doesn't uninstall them on 10.4?

If this is this a new/different issue [with the Install Script](https://github.com/Esri/military-tools-for-arcgis/blob/dev/source/MilitaryToolsToolba

[2016-08-08 14:14] pshowalter commented on #28
Exactly.  The Military Workflows Addins  are placed in the \10.3 folder, but ESRIRegAddIn.exe used in batch script looks in the \10.4 folder, and then indicates it failed.

[2016-08-08 14:40] csmoore commented on #28
That is odd behavior - I would say that sounds like a bug in ESRIRegAddIn.exe

But does sound like we can fix(or workaround) by changing to 10.4 in the [DAML](https://github.com/Esri/military-tools-for-arcgis/blob/dev/source/MilitaryToolsToolbar/ArcMapAddinMAToolbar/Config.esriaddinx#L11) - is the expected version for this 10.4 now or is it still targeting 10.3.1 (that's what it says in the [readm

[2016-08-09 18:30] pshowalter commented on #28
@topowright
My understanding is that release is targeting 10.4.1 and 1.3, which would mean that the [readme](https://github.com/Esri/military-tools-for-arcgis#arcgis-for-desktop-users) and some other documentation would needs updating, as well as and  [DAML](https://github.com/Esri/military-tools-for-arcgis/blob/dev/source/MilitaryToolsToolbar/ArcMapAddinMAToolbar/Config.esriaddinx#L11)
that refer

[2016-08-10 16:06] pshowalter opened #32 "ArcMap Addins are configured to be installed in 10.3, which causes the UN-InstallMilitaryToolsForArcMap.bat script to fail to remove them on 10.4"
@csmoore @ACueva @topowright @jmccausland @mfunk

ArcMap Addin's are currently configured to install using a parameter in "Config.esriaddinx" that indicates ArcMap version is 10.3.

The Addins are discovered and work using Desktop 10.4.  A problem occurs when using the
UN-InstallMilitaryToolsForArcMap.bat on a Desktop 10.4 install.

The current versions of the  ArcMap Addins are registered, and pl

[2016-10-14 21:57] joebayles opened #33 "Coordinate Conversion in ArcGIS Pro Issue"
## Expected Behavior

When typing in an MGRS coordinate string, the Coordinate Conversion Add-In will accurately display the location and convert to another supported coordinate system.
When using a four-digit coordinate (i.e. 11SNT6963), the Add-In should:
- identify the nexus of the 69 easting and 63 northing in the NT grid square of the 11S grid zone
- display the complete MGRS Coordinate (11SN

[2016-10-14 21:57] joebayles commented on #33
Copied from https://github.com/ArcGIS/solutions-desktop-templates/issues/271

[2016-10-14 22:12] joebayles opened #34 "Coordinate Conversion on Download Site uses inconsistent naming conventions"
The five different titles and file names listed on the download site are named inconsistently, including:
- Sentence case
- Capital Case
- CamelCase

-also-

- Solution Version (i.e. 1.0.1)
- Desktop Version (10.4)

![image](https://cloud.githubusercontent.com/assets/5016557/19403856/be9013fa-921e-11e6-987e-586011db20d3.png)

Suggest:

|Title|File Name|
|---|---|
|Coordinate Conversion 1.0.0 for A

[2016-10-14 23:00] joebayles opened #35 "Coordinate Conversion ArcGIS Pro Add-In Version Number"
The Add-In included in the Coordinate Conversion 1.0.1 download is labeled as 1.0. Not sure if this is:
- Incomplete number in the Add-In Installation Utility
- Wrong version

![image](https://cloud.githubusercontent.com/assets/5016557/19404955/4bc1cbb2-9227-11e6-81ee-1a612128b6e7.png)

FYI @nfeuerstein @lfunkhouser

[2016-10-15 00:03] nfeuerstein commented on #33
Thank you Joe.  Added the showstopper tag and adding to backlog to be addressed next sprint.

[2016-10-15 00:13] nfeuerstein commented on #34
@joebayles Would anything break if these naming conventions were updated?

[2016-10-17 13:17] joebayles commented on #34
As long as everything was updated properly, should be fine.

[2016-10-18 16:24] topowright commented on #34
@joebayles When you say updated properly I am not sure what that implies. If it is the same steps that are identified in OneNote it makes this self explanatory.

@lfunkhouser and @nfeuerstein is this something I should just do or is this something that will be done in a PBI. It is unclear to me when we should just do something or wait, especially when this is something many people can do and there

[2016-10-18 16:26] topowright commented on #35
@joebayles good catch.

@nfeuerstein @lfunkhouser this should be added to the backlog or should it just be done outside the other work? Not sure how we are addressing bugs under the new system.

[2016-10-18 17:14] joebayles commented on #34
@topowright https://app.asana.com/0/164505735380434/196846963293944

I mean that if the download is updated following the proper steps, it will not break any links. The location and detail identified in the download administration are linked and must remain that way, but you can change all the other attributes. It will not destroy any external links (i.e. links from solutions pages or anywhere els

[2016-10-18 17:53] nfeuerstein commented on #35
@topowright definitely added to the backlog.  Anyone can add something to the backlog under the "for review" section and I'll prioritize it appropriately.

[2016-10-18 17:58] nfeuerstein commented on #34
@topowright it should be added to the backlog if its going to take longer than a couple hours.  If not, feel free to do what needs to be done and ask someone to verify/test.

[2016-10-18 21:00] topowright commented on #35
@nfeuerstein Thanks for the info.

[2016-10-18 21:02] topowright commented on #35
This has been added to the backlog for review.

[2016-10-18 21:05] topowright commented on #34
This has been placed in the backlog for review.

[2016-10-28 13:37] mfunk commented on #33
@lfunkhouser @nfeuerstein
This will be fixed in the coordinate-conversion-addin-dotnet repo:
https://github.com/Esri/coordinate-conversion-addin-dotnet

[2016-10-28 20:37] lfunkhouser commented on #33
This issue was moved to Esri/coordinate-conversion-addin-dotnet#137

[2016-10-28 20:37] #33 closed

[2016-11-04 14:58] lfunkhouser commented on #34
Thanks for adding to the backlog @topowright. Changing the Title will not break anything, but changing the File Name does break the link and we would have to coordinate this effort with the next release of the website @nfeuerstein

[2016-11-04 16:47] elinz opened #36 "Install should include dictionary files for mil2525c_b2"
The Military Tools for ArcGIS folder structure should include the dictionary renderer related files for mil2525c_b2 and also install these files

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. Chrome 39, node.js 5.4):
* Operating System and version

[2016-11-04 17:00] adgiles opened #37 "Holistic Testing - Visibility Widget - WAB 2.1"
Is this widget complete as I do not see any configuration options for adding an underlying elevation service, when I click the settings button I get the following error:

Uncaught TypeError: Cannot read property 'inputCoordinate' of undefined

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version u

[2016-11-04 17:19] elinz opened #38 "Pro 1.2 - Distance and Direction add-in doesn't open"
I navigate to the "MILITARY TOOLS" ribbon, click on "Distance and Direction" add-in and no interface for the tool is opened.

## Expected Behavior

The interface for the tool should open when the user clicks on it.

## Current Behavior

I navigate to the "MILITARY TOOLS" ribbon, click on "Distance and Direction" add-in and no interface for the tool is opened. Interfaces for the other add-in's, i.e

[2016-11-04 17:25] elinz opened #39 "Pro addin "Convert Coords" - inconsistent name"
On the ribbon, the add-in is named "Convert Coords"; on the add-in interface it's named "Coordinate Conversion". Also spell the name out completely. There is obviously room for the complete name, as the other add-in's are spelled out completely,

![image](https://cloud.githubusercontent.com/assets/4635490/20015410/98e2b3be-a278-11e6-8c4b-2a763051280f.png)

## Expected Behavior

The add-in name on

[2016-11-04 17:38] elinz opened #40 "Recommend included doc to be in .pdf format instead of Word"
Unless we are going to provide doc in compiled chm help files, I would recommend that we should release the doc in .pdf format. Not all machines where these tools are going to get deployed will have Microsoft Word.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and

[2016-11-04 17:43] elinz opened #41 "Geoprocessing - No readme or other doc will install instructions"
The ArcGISPro\Geoprocessing and ArcMap\Geoprocessing folders do not contain any instructions on how to deploy the tools.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. Chrome 39, node.js 5.4):
* Operating System and version (desktop or mobile):
* L

[2016-11-04 17:43] mfunk opened #42 "Convert Coordinates Pro 1.2 does not accept <longitude> <latitude>"
Testing Convert Coordinates in ArcGIS Pro 1.2 with Decimal Degree (DD) inputs.

## Expected Behavior
When explicitly specifying hemisphere (N/S and E/W) in lon/lat the order should not matter. I should be able to type:
45.47E 20.82S
or
20.82S 45.47E

## Current Behavior
Currently the tool only accepts latitude followed by longitude, and not longitude followed by latitude. For example I can type th

[2016-11-04 17:53] elinz opened #43 ""Visibility add-in for ArcGIS Pro.docx" in edited state with unaccepted changes"
The Resources\ArcGISPro\Visibility add-in for ArcGIS pro.docs was left in an incompleted state, i.e. track changes mode was turned on, edits to the doc were made, but changes weren't accepted.

![image](https://cloud.githubusercontent.com/assets/4635490/20016468/ceb8e0c2-a27c-11e6-9122-29524882d9ea.png)

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bu

[2016-11-04 17:58] mfunk opened #44 "Convert Coordinate Pro 1.2 Collect tab crashes Pro"
In trying to use the Collect tab in the Coordinate Conversion Add-In I can consistently crash Pro 1.2.

## Expected Behavior
Pro should not crash using this tool. 😃

## Current Behavior
Pro crashes. 💩

## Possible Solution
This could very well be related to the immaturity of Pro 1.2 and SDK graphics handling that this tool was dependent upon. Not sure if there is much we can do without some major

[2016-11-04 17:59] adgiles opened #45 "Holistic Testing - Coordinate Conversion - WAB 2.1"
I think the name of this widget is confusing as the widget does not perform any coordinate conversion it is simply doing coordinate notation and I suspect it will only work with a base map that is projected in WMAS (srid 102100) or Geographics (srid 4326).

For instance if you use a base map projected in British National Grid the widget display incorrect values:

Ordnance Survey Open Background:
h

[2016-11-04 18:02] elinz opened #46 "Review doc and assess if it should be version specific"
The current doc files under Resources\ArcGISPro, Resources\ArcMap are all version specific. We should review this and decide if we are going to continue writing a separate doc for each Pro or ArcMap version or combine single non-version specific doc.

We don't have separate sets of the add-ins or geoprocessing tools for each Pro or ArcMap version, so is it really necessary to have separate docs fo

[2016-11-04 19:02] abrowning80 opened #47 "Holistic Testing - Coordinate Conversion Tool - ArcGIS Pro 1.2"
## Expected Behavior
Selection arrow for Coorrdinates when activated should allow the user to select where they want coordinates of.

## Current Behavior
As soon as the arrow is dragged on the map it takes the 1st coordinates it can and does not allow the user to select a different location.

## Possible Solution

## Steps to Reproduce (for bugs)

1.  Open up Coordinate conversion tool.
2.  Select

[2016-11-04 19:06] mfunk opened #48 "Distance and Direction Pro 1.2 does not launch window"
Selecting **Distance and Direction** from *Military Tools* ribbon does nothing.

## Expected Behavior
I expect to see the **Distance and Direction** window appear.

## Current Behavior
Click the button but nothing happens.

## Possible Solution

## Steps to Reproduce (for bugs)
1. Select *Military Tools* tab
2. Click **Distance and Direction**
3. Click **Distance and Direction** again.
4. Click **

[2016-11-04 19:06] mfunk opened #49 "Distance and Direction Pro 1.2 does not launch window"
Selecting **Distance and Direction** from *Military Tools* ribbon does nothing.

## Expected Behavior
I expect to see the **Distance and Direction** window appear.

## Current Behavior
Click the button but nothing happens.

## Possible Solution

## Steps to Reproduce (for bugs)
1. Select *Military Tools* tab
2. Click **Distance and Direction**
3. Click **Distance and Direction** again.
4. Click **

[2016-11-04 19:07] mfunk commented on #49
someohow got a duplicate of #48

[2016-11-04 19:07] #49 closed

[2016-11-04 19:08] mfunk commented on #48
Just saw this is a duplicate of #38

[2016-11-04 19:08] #48 closed

[2016-11-04 19:27] abrowning80 opened #50 "Visibility tool crashes Arc Pro v1.2"
## Expected Behavior
Visibility tool enables user to calculate line of sight.

## Current Behavior
After the raster surface data has been added in and observer point need to be added.  When trying to add in the observer points ArcPro crashes.

## Possible Solution

## Steps to Reproduce (for bugs)
1.  Open Tool
2.  Load in raster data (SRTM30m data from resources folder)
3.  Select observer point

[2016-11-04 19:37] mfunk opened #51 "Visibility Pro 1.2 LLOS & RLOS crashes with Map Point Tool"
The **Linear Line of Sight** (LLOS) tool crashes when clicking on the Map Point Tool next to either Observers or Targets.

## Expected Behavior
I'm expecting to set the observer or target locations on the map using the Map Point Tool. I should be able to click a location on the map, and have an observer/target point added to the dialog, and a graphic added to the screen.

## Current Behavior
Pro c

[2016-11-04 19:39] mfunk commented on #51
FYI ... this also happens with the **Map Point Tool** on the **RLOS** tab too.

[2016-11-04 19:39] kgonzago opened #52 "Military Tools Widget Issues in WAB 2.2"
Issues with MT widgets in WAB 2.2 were logged in the https://github.com/Esri/military-tools-webappbuilder/ repo. Here is a list of issues found:

https://github.com/Esri/military-tools-webappbuilder/issues/108
https://github.com/Esri/military-tools-webappbuilder/issues/109
https://github.com/Esri/military-tools-webappbuilder/issues/110
https://github.com/Esri/military-tools-webappbuilder/issues/11

[2016-11-04 20:15] ACueva opened #53 "Coordinate Conversion - Export Enhancements"
These are issues I consider enhancements to the user experience.

Under the "Collect" tab:
- [ ] Rename "Save As" to "Export"
- [ ] Give some sort of feedback of a successful operation. i.e. for saving to a feature class/shapefile. "X amount of features were copied/created".

[2016-11-04 20:44] mfunk opened #54 "Military Symbol Editor Pro 1.2 crashes"
Military Symbology Editor (MSE) crashes on ArcGIS Pro 1.2

## Expected Behavior
Not sure exactly what to expect. Just clicking around on the dialog. The search box is empty, and clicking **Add Favorite** should use something selected in the dialog, but since nothing selected the **Add Favorite** should probably be disabled

## Current Behavior
Clicking **Add Favorite** without a selection crashes

[2016-11-04 20:45] mfunk commented on #54
FYI... if you search for a symbol, select something in the dialog, and THEN click **Add Favorite** the app does not crash Pro.

[2016-11-04 20:55] eogden opened #55 "Distance and Direction Save As fails in 10.4.1"
## Expected Behavior
Users should be able to select and save graphics once they have been created.

## Current Behavior
•	Within lines, circle and ellipse no feature class is created when users complete the save as a feature class function.
•	When saving rings as a feature class, a feature class is created but when this is loaded back into the map nothing is displayed.
•	When saving Lines as shape

[2016-11-04 20:55] abrowning80 opened #56 "Text not displaying for bearing and distance units. - Pro 1.2"
## Expected Behavior
Display of text in Table to line of bearing geoprocessing tool for Bearing units and Distance Units

## Current Behavior
Both of these are showing the code ie 9001 for distance units instead of meters.  Meaning that the user is unable to know what they are setting.

## Possible Solution

## Steps to Reproduce (for bugs)
1.  Open table to line of bearing geoprocessing tool
2.

[2016-11-04 21:13] eogden opened #57 "Intermittent issue - tools disappear from the military tool bar when ArcMap is reopened"
## Expected Behavior
All tools should be available within the tool bar.

## Current Behavior
Reopening ArcMap displays the toolbar with missing tools - the tool which was used within the last session is missing on occasion, you have to keep reopening ArcMap until the tools reappear.

## Possible Solution

## Steps to Reproduce (for bugs)

1. Open ArcMap
2. Use tool
3. Close ArcMap while the tool i

[2016-11-04 21:23] eogden opened #58 "Distance and Direction - Graphics are not created for time and rate circles"
## Expected Behavior
When entering time and rate graphics should be produced when users click enter.

## Current Behavior
Entering time and rate causes a circle to be displayed but pressing enter never produces a graphic of the circle.

## Possible Solution

## Steps to Reproduce (for bugs)
1. Click a point on the map
2. Enter time an rate
3. Grey circle is displayed
4. Click enter - red graphic i

[2016-11-04 21:26] eogden opened #59 "ArcMap documentation is all for 10.3"
## Expected Behavior
All the ArcMap documentation is for 10.3 not 10.4

## Current Behavior

## Possible Solution
Create 10.4. documentation

## Steps to Reproduce (for bugs)

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. Chrome 39, node.js 5.4):
* Operating System and version (desktop or mobile):
* Link to your project:

[2016-11-04 21:52] abrowning80 opened #60 "Highest points GP tool does not open - ArcPro 1.2"
## Expected Behavior

For the Highest points, Linear Line of sight, Lowest Points, Radial Line of Sight GP tools do not open

## Current Behavior

Tool does not open with the following error

Tool has failed to open: C:\Users\admin\Desktop\ArcGISPro\Geoprocessing\Military_Tools.tbx\ _(name of GP tool)_

## Possible Solution

## Steps to Reproduce (for bugs)
1. Open tool
2.
3.
4.

## Context

## Yo

[2016-11-04 22:33] elinz opened #61 "Coordinate Conversion - Increase number of decimal places for DD and DDM"
For DD and DDM options in the "Add New Output Coordinate" we should increase the number of decimal places, we only display out to a single decimal place. This is approximately 6-7 nautical miles, which is too course and we should display out to two places. Especially since the map display units will display out to two decimal places.

![image](https://cloud.githubusercontent.com/assets/4635490/200

[2016-11-07 20:56] fred3792 opened #62 "Distance and Direction - ArcGIS Pro 1.3.1 symbol change problem"
## Expected Behavior
 I should be able to change the symbol in either the Map view and have it apply in the Layout view.

## Current Behavior
I changed the symbol in the Map view, after creating a Ring using the Distance and Direction tools in ArcGIS Pro 1.3.1. The symbol didn't change in the Layout view.

## Possible Solution

## Steps to Reproduce (for bugs)

1.	Open an existing project
2.	Save

[2016-11-08 20:57] jmccausland commented on #61
The "Input" group currently has no UI to configure it's format.  If you do not use "Edit Properties" the input format defaults to {0.0}.  Don't confuse the output format options with the input.

[2016-11-10 18:46] elinz commented on #54
@csmoore I've tested this mornings fix. When I open a new project, click on Search tab and click on "Add Favorites" without anything selected in the Search list, Pro no longer crashes. Instead, the user will be prompted that the favorite is invalid. Think this is good to check into GitHub. I'll re-test/verify the bug when the change is in the Jenkins build of the add-in.

[2016-11-10 18:55] elinz opened #63 ""Add Favorites" in Military Symbol Editor allows duplicates to be added to favorites list"
Repeatedly clicking the "Add Favorites" button in the Military Symbol Editor adds duplicates of the selected symbol.

## Expected Behavior

The editor shouldn't allow duplicates of the same exact symbol to be added to the favorites list.

## Current Behavior

Repeatedly clicking the "Add Favorites" button in the Military Symbol Editor adds duplicates of the selected symbol.

## Possible Solution

[2016-11-10 19:18] csmoore commented on #54
@elinz  - many thanks for testing (and helping me diagnose - still not sure why I couldn't repro) - fixed in https://github.com/Esri/military-symbol-editor-addin-wpf/pull/112 & will be in next daily

[2016-11-11 00:04] elinz commented on #54
Tested issue using latest tools built from Jenkins 10 Nov 2016 14:42
Verification test:
- Uninstall all the military tools addins using the UN-InstallMilitaryToolsForArcGISPro.bat
- Install the latest tools built by Jenkins using the InstallMilitaryToolsForArcGISPro.bat
- Opened ArcGIS Pro 1.2 final
- Created new project based on Map template
- Open Military Symbol Editor from the MILITARY TOOLS r

[2016-11-11 00:04] #54 closed

[2016-11-15 17:58] Dbarnes1 opened #64 "Visibility Add-In in Pro 1.4 doesn't throw an error when working with raw imagery layer"
Testing Linear Line of Sight in Pro 1.2 with raw imagery data, not with projected imagery, and the tool doesn't run but I also don't get an error prompt saying I need to project my imagery. I'd like to see something like this (from arcmap 10.3.1):

![image](https://cloud.githubusercontent.com/assets/13024357/20317250/16b33850-ab1a-11e6-94d2-bf66d5a9de9d.png)

[2016-11-15 19:23] BobBooth commented on #42
I just ran into the same thing with Coordinate Conversion in ArcMap - it is exacerbated by the fact that the default order for coordinates in the ArcMap Identify dialog and the coordinate display (lower right corner of the ArcMap window) is switched from what the tool expects (West, then North).
If I click on the map with the Identify tool in the MOLE sample data, I can get the coordinates in Deci

[2016-11-15 20:01] BobBooth opened #65 "Coordinate Conversion tool does not ignore text after coordinates"
If I click on the map in ArcMap with the Identify tool I get the coordinates in Decimal Degrees, and they show up as "-116.299264 36.103069 Decimal Degrees". If I copy/paste this into the Coordinate Conversion input box it fails to convert the coordinate values at all. It chokes on the text "Decimal Degrees" - does not convert until I delete that text.

The tool could ignore suffix text that match

[2016-12-01 23:56] Dbarnes1 opened #66 "Military Tools for ArcGIS Components drop downs dont appear properly with Pro 1.4 Dark Theme"
I was testing Distance and Direction in Pro Holistic today, and was using 1.4 Dark Theme. While the rest of the panes look really slick, our add-ins, particularly the drop-downs (text only appears as you pan over the drop down), look bad. I'm not sure if we are pulling the UI from Pro or whether we configured the UI of the add-ins ourselves. Either way, we should tackle this (unless users won't ch

[2016-12-02 16:40] nfeuerstein commented on #61
@jmccausland and @elinz can this issue be closed out?  Can the user use "edit properties" to set the decimal places?

[2016-12-02 16:49] jmccausland commented on #61
There are no configuration properties to format the input decimal places.  Currently you can only change the type of coordinate.

[2016-12-02 17:03] Dbarnes1 commented on #64
Updated- this issue is still valid for Pro 1.4, hopefully we can get this in for January release.

[2016-12-02 17:19] Dbarnes1 commented on #62
@fred3792 @nfeuerstein I think that this issue might be a result of not properly activating and deactivating the layout view with the exported shapefile. I tested this with Pro 1.4 and this seems to be working properly. If you want to go over the workflow let me know.

At step 7, where you change the symbology of your shapefile, the symbology should automatically reflect those changes in the layou

[2016-12-05 16:41] Dbarnes1 commented on #51
@mfunk I was able to verify that this issue doesn't exist with the Pro 1.3 and 1.4 versions of the Visibility Add-In. Closing.

[2016-12-05 16:41] #51 closed

[2016-12-05 16:43] Dbarnes1 commented on #50
@abrowning80 this issue cannot be replicated with ArcGIS Pro 1.3 or 1.4, and we are no longer targeting Visibility for ArcGIS Pro 1.2. Closing.

[2016-12-05 16:43] #50 closed

[2016-12-05 18:45] elinz opened #67 "Distance And Direction: Radials for rings are not created at the correct length in ArcGIS Pro"
When I use the Rings function on the Distance And Direction addin the length of the radials created do not have the correct length. See screenshot below:

![image](https://cloud.githubusercontent.com/assets/4635490/20897633/fb6e6506-bad7-11e6-9ae6-bf2d375d5817.png)

## Expected Behavior

The length of the radials created should match the radius of the outer most ring.

## Current Behavior

## Poss

[2016-12-05 18:51] elinz opened #68 "Distance And Direction: Radials for rings are not created as geodetic lines in ArcGIS Pro"
The radials are not created as geodetic lines.

We know that at least for 1.2 and 1.3 we can't create geodetic lines so the "Number of Radials" parameter should be hidden/disabled or removed.

![image](https://cloud.githubusercontent.com/assets/4635490/20897769/8e42eb72-bad8-11e6-8a93-bdcaa096d51b.png)

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bug

[2016-12-05 18:58] elinz commented on #67
We know that at least for 1.2 and 1.3 we can't create geodetic lines so the "Number of Radials" parameter should be hidden/disabled or removed.

[2016-12-05 20:09] jmhauck commented on #55
@nfeuerstein @kgonzago I have a commit ready for this issue but don't have the correct permissions in github to push a new branch that I could submit the pull request from.

[2016-12-05 20:13] nfeuerstein commented on #55
@ACueva can you add @jmhauck to whatever team he needs to be on so that he can create a new branch and submit a pull request.  Thanks.

[2016-12-05 20:21] ACueva commented on #55
@nfeuerstein @jmhauck I'll look into this right now

[2016-12-05 20:26] ACueva commented on #55
@jmhauck You're an admin on the repo now.

[2016-12-05 20:43] kgonzago commented on #55
@jmhauck Create a PR with your changes and assign it to me for review.

[2016-12-05 20:48] kgonzago commented on #67
@nfeuerstein @topowright Should we remove Radials from Distance and Direction Pro 1.2/1.3 entirely?

[2016-12-05 20:55] elinz opened #69 "Distance And Direction WAB widget: increase dialog height to fit all controls"
Can we increase the height of the widget dialog so that all the controls for the Lines and Ellipse tabs are accessible without scrolling down? This would make it easier to use the widget; there is only one parameter and a button on both tabs that need to fix within the default size of the dialog.

![image](https://cloud.githubusercontent.com/assets/4635490/20902032/233858fa-baea-11e6-985d-a1a54d8d

[2016-12-05 21:12] elinz opened #70 "Distance and Direction WAB widget: uses same icon as the "My Location" widget"
The Distance and Direction widget uses the same icon as the "My Location" widget. Recommend using a different icon that would make more sense for this widget and wouldn't confuse the user.

![image](https://cloud.githubusercontent.com/assets/4635490/20902285/5c671a7a-baeb-11e6-9611-048dbcdd2f65.png)

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

[2016-12-05 21:17] nfeuerstein commented on #67
@kgonzago - Distance and Direction is dead in 1.2 all together.  For 1.3, we should probably remove radials if there is no way to fix it.  It seems to me that 1.3 doesn't support radials.

[2016-12-05 21:22] Dbarnes1 commented on #67
@nfeuerstein would an alternative to removing radials in 1.3 be to include a known issue about radials not working properly in our documentation? This is what we are currently doing in regards to line creation in the add-in. See this PR: https://github.com/ArcGIS/arcgis-solutions-website/pull/4608/files

[2016-12-05 21:32] nfeuerstein commented on #67
@Dbarnes1 yes, that is an alternative.  The bottom line is that lines aren't supported, we can either document that geodesic lines aren't supported or we can remove the option.  Which is more feasible?

[2016-12-05 21:36] Dbarnes1 commented on #67
@nfeuerstein I think updating the documentation with a known issue for pro 1.3, and then removing the functionality for lines and radials in pro 1.4 would be the most suitable option considering the current technical limitations.

[2016-12-05 21:40] nfeuerstein commented on #67
Sounds like a plan.  Any issues with that @kgonzago?

[2016-12-05 22:45] elinz opened #71 "Distance and Direction WAB widget: change name of "Range" tab to match tab name in Pro and ArcMap"
The "Range" tab on the Distance and Direction WAB widget is called "Rings" in the ArcMap and ArcGIS Pro add-ins. Would recommend changing tab name from "Range" to "Rings" to be consistent with the add-ins.

![image](https://cloud.githubusercontent.com/assets/4635490/20905547/249ab9a4-baf9-11e6-989b-750183c35af0.png)

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Repr

[2016-12-05 22:52] elinz opened #72 "Distance and Direction WAB widget: parameter label on "Range" tab in inconsistent with ArcMap and ArcPro parameter"
"Ring Interval" parameter is labeled "Distance Between Rings" on ArcMap and ArcGIS Pro add-ins. Should change parameter label to be consistent across all tools. Recommend following ArcMap/ArcGIS parameter labels.

![image](https://cloud.githubusercontent.com/assets/4635490/20905790/1b8a5e86-bafa-11e6-862a-a6f1ebecabd8.png)

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps

[2016-12-05 23:11] elinz opened #73 "Distance and Direction WAB widget: Radials are not geodetic when creating range rings"
The following range rings were created using the following parameters:
Center Point (DD): 55.77 37.56
Number of Rings: 5
Ring Interval: 500 Km
Number of Radials: 6
![image](https://cloud.githubusercontent.com/assets/4635490/20906392/a92c920c-bafc-11e6-8387-4616a9f3f761.png)

Creating in ArcMap creates the following correct radials:
![image](https://cloud.githubusercontent.com/assets/4635490/209064

[2016-12-05 23:24] elinz opened #74 "Distance and Direction WAB widget: densify geometry for lines, circles, ellipses, and Range to match ArcMap/Pro"
The following range rings were created using the following parameters:
Center Point (DD): 55.77 37.56
Number of Rings: 5
Ring Interval: 500 Km
Number of Radials: 6
![image](https://cloud.githubusercontent.com/assets/4635490/20906776/c2321770-bafe-11e6-82db-a4ada6760dea.png)
(Note: the radials are incorrectly drawn as non-geodetic geometry)

The geometry shape in my opinion should be densified to m

[2016-12-05 23:27] elinz opened #75 "Distance and Direction WAB widget: Ellipse tool does not create any ellipse graphics"
Ran the ellipse tool from the Distance and Direction widget with the parameters shown in the screenshot below, and no ellipse was created. The only thing drawn on the map was the graphic to indicate the center point:
![image](https://cloud.githubusercontent.com/assets/4635490/20906871/2c502728-baff-11e6-8f6d-18f89b5553da.png)

## Expected Behavior

## Current Behavior

## Possible Solution

## Ste

[2016-12-06 17:35] jmhauck commented on #58
@kgonzago @nfeuerstein I am not able to reproduce this issue. Testing with 10.4.1.

[2016-12-06 18:17] jmhauck commented on #56
@kgonzago @nfeuerstein I am not seeing this issue. I am testing at Pro 1.4 (7119) a build from last week. Should I check against the currently released version also? If I am following correctly I was expecting to see the value of '9001' for example rather than the value 'METERS'.

![image](https://cloud.githubusercontent.com/assets/2170893/20937691/454a7ce6-bba5-11e6-80aa-9a272344b8d5.png)

[2016-12-06 18:51] jmhauck commented on #56
Out of curiosity I checked on 1.3.1 and don't see there either.

[2016-12-06 18:58] ACueva commented on #75
This issue was moved to Esri/solutions-webappbuilder-widgets#687

[2016-12-06 18:58] #75 closed

[2016-12-06 19:07] elinz commented on #74
Closing issue. I incorrectly entered this issue in this repo. Re-created issue here:
https://github.com/Esri/solutions-webappbuilder-widgets/issues/688

[2016-12-06 19:07] #74 closed

[2016-12-06 19:11] elinz commented on #73
Closing this issue; created in incorrect repo. Re-created the issue here:https://github.com/Esri/solutions-webappbuilder-widgets/issues/689

[2016-12-06 19:11] #73 closed

[2016-12-06 20:17] elinz commented on #72
Closing issue. I incorrectly created this issue in this repo. Issue has been re-created here: https://github.com/Esri/solutions-webappbuilder-widgets/issues/690

[2016-12-06 20:17] #72 closed

[2016-12-06 20:19] elinz commented on #71
Closing issue. I incorrectly created this issue in this repo. Re-created issue here: https://github.com/Esri/solutions-webappbuilder-widgets/issues/691

[2016-12-06 20:19] #71 closed

[2016-12-06 20:21] elinz commented on #70
Closing this issue. I incorrectly created this issue in this repo. Re-created this issue here:https://github.com/Esri/solutions-webappbuilder-widgets/issues/692

[2016-12-06 20:21] #70 closed

[2016-12-06 20:23] elinz commented on #69
Closing this issue. I incorrectly created this issue in this repo. Re-created issue here: https://github.com/Esri/solutions-webappbuilder-widgets/issues/693

[2016-12-06 20:23] #69 closed

[2016-12-06 21:56] Dbarnes1 commented on #55
@kgonzago @jmhauck verified fixed. At 10.4.1, I can save lines, ellipses, circles, and rings as both features and kmz files and add them back into the map. The features that are saved out match the graphics drawn with the add in.

[2016-12-06 21:56] #55 closed

[2016-12-07 14:16] kgonzago commented on #56
could not repro. closing it.

[2016-12-07 14:16] #56 closed

[2016-12-07 14:17] kgonzago commented on #58
Could not repro. Issue closed.

[2016-12-07 14:17] #58 closed

[2016-12-07 15:46] dhagens commented on #39
Fixed in ArcGIS_Pro_1.2 branch in coordinate-conversion-addin-dotnet repo

[2016-12-07 21:10] dhagens commented on #65
The tool currently works as designed.  It was not designed to allow text (other than the designators) after the coordinates.

[2016-12-08 07:30] topowright opened #76 "Errors in the Visibility Add-in Labels for Visible Observers does not show up"
When running the visibility LOS tool in  the ArcGIS Pro add-in there should be a label showing how many observers can see a target. Currently This does not show up

## Expected Behavior
I would expect any target that is green be numbered with at least one

## Current Behavior
No label is being generated

## Possible Solution
Unclear. This works in ArcGIS Pro 1.3 , but not in ArcGIS Pro 1.4

## Ste

[2016-12-08 15:02] dhagens commented on #64
@Dbarnes1, could you provide access to the imagery that you were using to test this with?  I'd like to test with the same if possible.

[2016-12-08 16:03] elinz opened #77 "Coordinate Conversion: After entering coordinates and hitting return, Pro does not "flash" the coordinate location on the map"
In the ArcMap addin, when you enter coordinates and hit return, a crosshair(?) is flashed on the map display to show you where the entered coordinate is. If the coordinate location is not located in the current extent, the addin pans and centers the coordinate in the map. The ArcGIS Pro addin does none of this.

This is an import function to have, as it helps the user verify that they have entered

[2016-12-08 16:11] mfunk commented on #63
* Testing on Pro 1.2 ()
* Install 12/8/2016 @ 5:20am build from Jenkins

1) Create new Pro map project.
2) Military Tools >> Military Symbol Editor
3) Select *Search* tab
4) In Search type *infantry*
5) Select **Movement and Maneuver : Infantry : Amphibious : Friend** from resulting list
6) Select **Add Favorite** button
7) Select *Favorite* tab, my new symbol is in the list
8) Select *Search* tab

[2016-12-08 17:14] Dbarnes1 commented on #64
@dhagens has access now

[2016-12-08 22:03] elinz commented on #39
The fix for this issue was made and merged. I will verify on latest Pro SDK 1.2 build of the addin.

[2016-12-08 22:08] elinz commented on #39
I installed the CoordinateConversion.esriAddInX file located in the build folder 12-07-2016_10\ArcGISPro\Addins\CoordinateConversion. Opened ArcGIS Pro 1.2 and add-in name matches the add-in dialog title as shown below:
![image](https://cloud.githubusercontent.com/assets/4635490/21029660/acb9d6aa-bd4f-11e6-85aa-9c110e52ce62.png)

Closing this issue and marking it "Done".

[2016-12-08 22:08] #39 closed

[2016-12-08 22:28] topowright commented on #76
@nfeuerstein adding you for awareness

[2016-12-08 22:34] topowright opened #78 "Save As does not show text for Distance and Direction"
The Distance and Direction Add-in has the ability to save features locally. Currently the text does not show up:

![image](https://cloud.githubusercontent.com/assets/5488313/21030359/0ca8754e-bd96-11e6-8339-f5ba8d8db62b.png)

## Expected Behavior
I would expect to see Save to shapefile, feature class or kml

## Current Behavior
No text is showing up in the dialog box.

## Possible Solution

## Ste

[2016-12-08 22:40] topowright opened #79 "Using the dark theme in ArcGIS Pro creates issues with drop down menus"
Using the dark theme in ArcGIS Pro creates issues with drop down menus
## Expected Behavior
I would want to see all of the parameters.

## Current Behavior
![image](https://cloud.githubusercontent.com/assets/5488313/21030557/17f3e4c8-bd97-11e6-83b4-723f54910247.png)

## Possible Solution
Create a solid background for the drop down menu

## Steps to Reproduce (for bugs)

1. Select a drop down menu

[2016-12-08 22:44] Dbarnes1 commented on #79
@topowright kind of a duplicate: https://github.com/Esri/military-tools-for-arcgis/issues/66

[2016-12-08 23:06] topowright opened #80 "Clear Graphics buttons on Distance and Direction Add-in delete all graphics"
Clear Graphics buttons on Distance and Direction Add-in delete all graphics

## Expected Behavior
Each Graphics button only deletes the graphics from that tab

## Current Behavior
All graphics are delted when using the Clear Graphics button

## Possible Solution

## Steps to Reproduce (for bugs)

1.Create graphics on two differnt tabs
2. click the Clear Graphics button
3.
4.

## Context

## Your E

[2016-12-08 23:09] topowright opened #81 "Visibility Add-in LLOS does not produce layers for Sight Lines or LLOS results"
LLOS tool should populate the TOC and Map with the following four layers:

Observers
Targets
Sight Lines
LLOS Results

## Expected Behavior
Sight Lines populate to the TOC, bu they do not populate to the map.
## Current Behavior
![image](https://cloud.githubusercontent.com/assets/5488313/21031401/2abe4cb6-bd9b-11e6-8d6f-e05567031a53.png)

LLOS results are not drawn and sight lines do not show up i

[2016-12-09 00:06] migueldls commented on #81
I'm seeing similar issues using LLOS tool. Not sure if this is Pro limitation.

**Expected Behavior**
Sight Lines are added to TOC symbolized as visible/not visible segments to observer along a sight line. And visible/ not visible target.

**Current Behavior**
Los Output is added to TOC as Single Symbol symbology, user must then have select Unique Values by vis code.

**Environment**
Windows 7 and

[2016-12-09 01:20] elinz commented on #42
I tested the Pro and ArcMap add-ins that were built against 1.2 and 10.3.1 in ArcGIS Pro 1.2 and ArcMap 10.3.1 (build 12-07-2016_10). The ArcGIS Pro add-in works correctly. The ArcMap add-in does not work correctly.

In ArcMap 10.3.1, when I enter...

=======================
(lat long) 20.82S 45.47E --> it incorrectly converts it to UTM 38S 548905 7697701. It should be 38K 548905 7697701
=========

[2016-12-09 13:41] kgonzago commented on #68
@elinz Can you test this with Pro 1.4? If issue persists, we will have to remove this functionality from the release.

[2016-12-09 13:44] kgonzago commented on #67
I like that plan. This is similar to #68. Once issue persists when testing with Pro 1.4, the line and radials will be removed entirely.

[2016-12-09 13:55] topowright opened #82 "Overwriting layers produces Issues for Visibility"
Currently the Visibility add-in is configured to overwrite the same four layers for LLOS and the same two layers for RLOS.

## Expected Behavior
Layers overwrite and tools run properly

## Current Behavior
Layers do not write to TOC
Layers do not write to the default database

## Possible Solution
Have unique names for all layers being written from each tool.
RLOS - Observers
RLOS - Targets
as an

[2016-12-09 13:56] kgonzago commented on #77
@elinz Which version of Pro were you testing with? Which add-in was tested?

[2016-12-09 13:57] dhagens commented on #42
@elinz, the issues that you are seeing in 10.3.1 are because the changes to the code for the arcmap addin were not made in the Pro 1.2 build.  The only changes in that build were made for Pro 1.2.  You will need to get the latest build from Jenkins for Pro 1.4 and ArcMap Addin 10.3.1 and test against that.  This was not communicated so understandable.  @topowright, @lfunkhouser, We never actually

[2016-12-09 14:18] topowright commented on #42
@elinz @dhagens This is an issue with us not being clear with what Jenkins is building. @dhagens is going to push his changes to the Dev branch, which is building 1.4 and 10.3.1. We will then have all of his updates in the ArcMap add-in that we build.

@lfunkhouser @nfeuerstein after working with @ACueva yesterday on the file structure for Jenkins this should be a bit clearer when he finishes his

[2016-12-09 14:29] dhagens commented on #42
@topowright, I just wanted to make clear that the Lat/Lon changes for the ArcMap Addin are already in the dev branch.  The ArcMap Addin changes for the Lat/Lon are not in the Pro 1.2 branch, for the ArcMap Addin, which is what @elinz was testing the ArcMap Addin with.  The confusing part here is that both builds contain the ArcMap 10.3.1 Addin.  Only the dev branch has the Lat/Lon changes for the

[2016-12-09 14:35] kgonzago commented on #77
@jmccausland verified bug exists in Pro 1.3 and fix will be applied.

[2016-12-09 15:02] kgonzago commented on #77
@elinz Can you verify fix when you have a moment?

[2016-12-09 15:44] dhagens commented on #42
@elinz, I looked into the issue of the UTM output being incorrect and checked in a fix for it in the dev branch.  I don't think you'll need to add an issue for this since it should be fixed with the next build after @kgonzago merges.  Thanks.

[2016-12-09 16:08] elinz commented on #68
@kgonzago I installed the latest build Military Tools for ArcGIS that i believe was built on 1.3 SDK and I get the same incorrect results.

[2016-12-09 16:11] elinz commented on #67
@kgonzago I installed the latest build of Military Tools for ArcGIS that I believe was built on 1.3 SDK and the same issue exists.

[2016-12-09 16:15] elinz commented on #77
@kgonzago I build manually fire off Jenkins build and test.

[2016-12-09 16:17] csmoore commented on #63
Created PR: https://github.com/Esri/military-symbol-editor-addin-wpf/pull/115

That adds a check & issue warning if identical favorite:

![image](https://cloud.githubusercontent.com/assets/3090809/21055800/e706ea58-be00-11e6-9cb2-fdc199f86dff.png)

[2016-12-09 16:26] elinz commented on #42
@dhagens @kgonzago @topowright I was testing the fix against both ArcGIS Pro 1.2 and ArcMap 10.3.1 because my understanding is that we were fixing this issue for the released components which are both ArcGIS Pro 1.2 and ArcMap 10.3.1. and I learned yesterday, we also have a released WAB widget of Convert Coordinates...so seems like we need to fix the widget as well.

[2016-12-09 16:30] dhagens commented on #42
@elinz, it is my understanding that we are only releasing the Pro 1.2 component from the build that you tested.  To test the ArcMap 10.3.1 addin, you'll need to test that against the dev build, which is the Pro 1.4 build and the 10.3.1 ArcMap addin build.

[2016-12-09 16:31] dhagens commented on #42
@elinz, the fix for WAB widget has not been addressed yet.  It seems that the Addins are higher priority at this time as @kgonzago stated yesterday and the bugs will need to be fixed in those first.

[2016-12-09 17:36] elinz commented on #77
@kgonzago @jmccausland I tested and now the cross hairs are displayed, however, there are a couple of issues:
1. When I enter in a coordinate pair and hit return in order for the location to be flashed on the map, the Map Point Tool is enabled, so if I happen to place the mouse over the map I now lose the coordinate I entered.
2. When I enter in a coordinate pair, for example 40.0220N 101.9971W, t

[2016-12-09 17:40] jmccausland commented on #77
1. Known issue, the "flash" is a tool overlay and only works when tool is active.

2. Usually the point graphic displays incorrectly the first time.  Another known issue, I believe it to be a core issue and there is no workaround ATM.

[2016-12-09 17:54] elinz commented on #77
If the "flash" only works when the Map Point Tool is active, then I think we have to consider reverting this change so that flash does not work. I think this is going to lead to problems where the user end up capturing incorrect coordinates.

Thoughts from anybody?

[2016-12-09 20:30] pHill5136 commented on #62
@fred3792 @Dbarnes1 I tested this in 1.3 and it works as expected. The problem may have been neglecting to clear the graphic which is displayed on top of the feature layer.

[2016-12-12 07:46] topowright commented on #64
@Dbarnes1 I have tested this and it is no longer an issue. Can you verify this in ArcGIS Pro 1.4 using the latest build of the add-in?

[2016-12-12 07:56] topowright commented on #37
The visibility widget now has a configuration page:

![image](https://cloud.githubusercontent.com/assets/5488313/21091800/727c903a-bffd-11e6-9d24-3809ae973a98.png)

@adgiles please verify.

[2016-12-12 07:58] topowright commented on #37
Just for clarity the gp service should be the one that sets the elevation layer. the widget just needs to point to the gp service.

[2016-12-12 15:02] mfunk commented on #63
Retesting with fix....

1. Military Tools >> Military Symbol Editor
2. Select *Search* tab
3. In Search type *infantry*
4. Select **Movement and Maneuver** : **Infantry** : **Amphibious** : **Friend** from resulting list
5. Select **Add Favorite** button
6. Select _Favorites_ tab, my new symbol is in the list
7. Back to _Search_, symbol is still selected, click **Add Favorite** again... Error Addi

[2016-12-12 15:02] #63 closed

[2016-12-12 16:53] #62 closed

[2016-12-12 18:37] elinz commented on #42
@dhagens Thanks. I'll install the 10.3.1 addin, built from the dev branch and test.

[2016-12-12 19:13] Dbarnes1 commented on #64
![image](https://cloud.githubusercontent.com/assets/13024357/21112806/fd6d1abc-c05b-11e6-9deb-8d74ca90823a.png)

verified in Pro 1.4, closing.

[2016-12-12 19:13] #64 closed

[2016-12-12 19:45] elinz commented on #42
@dhagens I tested the ArcMap 10.3.1 addin that was built from the dev branch and the coordinates are not matching the output from the Pro 1.4 that was built from the same dev branch.

Enter the following coordinates: -116.299264 36.103061

In Pro 1.4 addin the output is:
![image](https://cloud.githubusercontent.com/assets/4635490/21113539/dbb59f7c-c05e-11e6-8ee6-202cc62ff873.png)

In ArcMap 10.3.1

[2016-12-12 19:49] dhagens commented on #42
@elinz, I would consider this as a separate bug and is not related to this bug.  This bug was related to the ability to input lat or long coordinates in either order in the input field.  To thoroughly test this, we'd have to go back to pro 1.3 and pro 1.2 and determine if there was a change in output from 1.2 until now.  @lfunkhouser , @topowright can make the determination on that.  Thanks.

[2016-12-12 19:52] elinz commented on #42
@dhagens I'll create a separate GitHub issue. NOTE: Pro 1.2 addin built on 1.2 and Pro 1.4 addin built on 1.4 are creating the same output.

[2016-12-12 20:01] elinz opened #83 "Coordinate Conversion - ArcMap 10.3.1 addin not creating same output as Pro 1.4 addin"
I tested the ArcMap 10.3.1 addin that was built from the dev branch and the coordinates are not matching the output from the Pro 1.4 that was built from the same dev branch. Addins built 12 Dec 2016 09:11.

Enter the following coordinates: -116.299264 36.103061

In Pro 1.4 addin the output is:
![image](https://cloud.githubusercontent.com/assets/4635490/21114436/eed4b658-c061-11e6-9300-1f814e58933b

[2016-12-12 20:26] dhagens commented on #42
@elinz, as a follow up to this, I had Joe McCausland test this out on his machine with an earlier version of Pro w/o any changes that we've made lately and is seeing similar results in Pro.
36.103061 -116.299264
36.1N 116.3W
36° 6.18'N 116° 17.96'W
36° 6' 11.0"N 116° 17' 57.4"W
11N 563073 3995606
11S 563073 3995606
11SNV6307495607
128LN36
11SNV6307495607

[2016-12-12 20:28] elinz commented on #42
@dhagens Thanks. I created a new issue for this: https://github.com/Esri/military-tools-for-arcgis/issues/83

[2016-12-12 20:44] dhagens commented on #83
@elinz, it would be useful to know which values are actually correct from your testing.

[2016-12-13 00:05] elinz commented on #83
@dhagens Here is one correct, where ArcGIS Pro 1.4 and ArcMap 10.3.1 addin match:

45.47E 20.82S

ArcGIS Pro 1.4:
![image](https://cloud.githubusercontent.com/assets/4635490/21122028/b7098ad2-c084-11e6-9c0c-639165d13d09.png)

ArcMap 10.3.1:
![image](https://cloud.githubusercontent.com/assets/4635490/21122033/c368e96c-c084-11e6-9b06-16a34b372001.png)

[2016-12-13 16:24] elinz commented on #83
@dhagens Another example of an incorrect match between ArcGIS Pro 1.4 addin and ArcMap 10.3.1 addin:

120.56879W 45.56789N

ArcGIS Pro:
![image](https://cloud.githubusercontent.com/assets/4635490/21147845/2a95d9d4-c10b-11e6-9db1-483b14f2e859.png)

ArcMap:
![image](https://cloud.githubusercontent.com/assets/4635490/21147857/37ac6066-c10b-11e6-8064-f1cce2c08196.png)

Take for example, DDM.
![image](

[2016-12-13 17:11] dhagens commented on #76
The following are my findings for the labeling in Pro 1.4

In Pro 1.3, the label expression engine is either defaulted to VBScript or is smart enough to know what kind of expression is being used and sets it automatically.  In Pro 1.4, the expression engine defaults to Arcade.  By programatically setting the expression engine in the code to VBScript, the following label expression does validate co

[2016-12-13 18:14] migueldls opened #84 "Visibility Add-in RLOS produces empty polygon results and has no symbology"
## Expected Behavior

RLOS Tool should populate output to TOC sybolized by visible/not visible to observer
## Current Behavior

RLOS is adding vis_rlos_conv_polygon to TOC but the feature is empty or corrupt. I appears as if the layer was an output of the vis_rlos_output raster but the polygon layer was created with empty geometry. Also the layer in the TOC is not symbolized correctly
## Possible

[2016-12-13 18:41] dfoll commented on #76
@topowright check out @mfunk latest comments on https://github.com/Esri/military-tools-geoprocessing-toolbox/issues/159 and https://github.com/Esri/military-tools-geoprocessing-toolbox/issues/157

[2016-12-13 19:14] topowright commented on #76
@mfunk @dfoll I just spoke to core and this is a major issue for them that they are going to get started on now. The issues that we found are as follows:

1. The labeling tool is not setting the language to the type that is being passed. For our tool that should be automatically set to  VisualBasic, but instead it is staying on Arcade, which i think is default.

2. The location of the label is not

[2016-12-13 22:22] elinz commented on #77
@kgonzago @jmccausland No response back to my question above.  If the only way to get the "flash" to work in ArcGIS Pro is to make the Map Tool active then we should revert the fix. Having this tool automatically made active is "dangerous". Users will type in a coordinate, hit return, the coordinate is converted, then if they happen to move the mouse over the map display, the output coordinates wi

[2016-12-13 22:32] migueldls opened #85 "Coordinate Conversion Add-in generates bad grid when tool settings are set to "Default Map Unit" as Display Coordinate"
Grids are not accurate using the Map Point Tool when the Coordinate Conversion tool settings are set as "Default Map Unit" in the Display Coordinate settings. When the Map or Data Frame is set to any projection other than WGS84 Web Mercator coordinates not accurate or correct. Problem persists in both ArcMap and ArcPro. If is set the map or data frame to eg. WGS84 UTM 13N projection,  I get 31RE00

[2016-12-14 00:13] elinz commented on #42
I tested the Pro addin built against 1.2 SDK (build date: 13 Dec 2016 10:42, folder name "12-12-2016_13") on Pro 1.2 and Pro 1.3 and you can enter coordinates in as Lat Long and Long Lat.

I tested the ArcMap addin built against 10.3.1 ArcObjects (build date: 13 Dec 2016, 13:12) on ArcMap 10.3.1  and you can enter coordinates in as Lat Long and Long Lat.

[2016-12-14 16:53] elinz opened #86 "Coordinate Conversion: should clear all outputs when invalid coordinate is entered (ArcGIS Pro)"
**NOTE: This is an enhancement, but a very critical enhancment**

When you specify an invalid coordinate in the Input textbox, any previous calculated results in the Output texboxes are not cleared. The last valid output is still displayed. This is extremely dangerous as the user may not have realized they entered an invalid coordinate or did not realize that the output values didn't change from t

[2016-12-14 16:59] elinz opened #87 "Coordinate Conversion: should clear all outputs when invalid coordinate is entered (ArcMap)"
**NOTE: This is an enhancement, but a very critical enhancment**

When you specify an invalid coordinate in the Input textbox, any previous calculated results in the Output texboxes are not cleared. The last valid output is still displayed. This is extremely dangerous as the user may not have realized they entered an invalid coordinate or did not realize that the output values didn't change from t

[2016-12-14 21:49] pHill5136 commented on #78
@topowright @nfeuerstein Checked this in pro 1.4 build 7179. Labels are appearing in the SaveAs dialog.

[2016-12-14 22:07] lfunkhouser commented on #86
This issue was moved to Esri/coordinate-conversion-addin-dotnet#151

[2016-12-14 22:08] #86 closed

[2016-12-14 22:08] lfunkhouser commented on #87
This issue was moved to Esri/coordinate-conversion-addin-dotnet#152

[2016-12-14 22:08] #87 closed

[2016-12-14 22:08] lfunkhouser commented on #85
This issue was moved to Esri/coordinate-conversion-addin-dotnet#153

[2016-12-14 22:08] #85 closed

[2016-12-14 22:09] lfunkhouser commented on #84
This issue was moved to Esri/visibility-addin-dotnet#102

[2016-12-14 22:09] #84 closed

[2016-12-14 22:09] lfunkhouser commented on #83
This issue was moved to Esri/coordinate-conversion-addin-dotnet#154

[2016-12-14 22:09] #83 closed

[2016-12-14 22:10] lfunkhouser commented on #82
This issue was moved to Esri/visibility-addin-dotnet#103

[2016-12-14 22:10] #82 closed

[2016-12-14 22:10] lfunkhouser commented on #81
This issue was moved to Esri/visibility-addin-dotnet#105

[2016-12-14 22:10] #81 closed

[2016-12-14 22:10] lfunkhouser commented on #80
This issue was moved to Esri/distance-direction-addin-dotnet#177

[2016-12-14 22:10] #80 closed

[2016-12-14 22:11] lfunkhouser commented on #78
This issue was moved to Esri/distance-direction-addin-dotnet#178

[2016-12-14 22:11] #78 closed

[2016-12-14 22:12] lfunkhouser commented on #77
This issue was moved to Esri/coordinate-conversion-addin-dotnet#155

[2016-12-14 22:12] #77 closed

[2016-12-15 16:11] dhagens commented on #80
Ready for testing

[2016-12-15 17:38] lfunkhouser commented on #68
This issue was moved to Esri/distance-direction-addin-dotnet#180

[2016-12-15 17:38] #68 closed

[2016-12-15 17:38] lfunkhouser commented on #67
This issue was moved to Esri/distance-direction-addin-dotnet#181

[2016-12-15 17:38] #67 closed

[2016-12-15 17:39] lfunkhouser commented on #38
This issue was moved to Esri/distance-direction-addin-dotnet#182

[2016-12-15 17:39] #38 closed

[2016-12-15 17:40] lfunkhouser commented on #65
This issue was moved to Esri/coordinate-conversion-addin-dotnet#159

[2016-12-15 17:40] #65 closed

[2016-12-15 17:41] lfunkhouser commented on #35
This issue was moved to Esri/coordinate-conversion-addin-dotnet#160

[2016-12-15 17:41] #35 closed

[2016-12-15 17:42] lfunkhouser commented on #53
This issue was moved to Esri/coordinate-conversion-addin-dotnet#161

[2016-12-15 17:42] #53 closed

[2016-12-15 17:43] lfunkhouser commented on #60
This issue was moved to Esri/military-tools-geoprocessing-toolbox#194

[2016-12-15 17:43] #60 closed

[2016-12-15 17:44] lfunkhouser commented on #61
This issue was moved to Esri/coordinate-conversion-addin-dotnet#162

[2016-12-15 17:44] #61 closed

[2016-12-15 17:49] lfunkhouser commented on #76
This issue was moved to Esri/visibility-addin-dotnet#107

[2016-12-15 17:49] #76 closed

[2016-12-15 17:50] lfunkhouser commented on #47
This issue was moved to Esri/coordinate-conversion-addin-dotnet#163

[2016-12-15 17:50] #47 closed

[2016-12-15 17:51] lfunkhouser commented on #45
This issue was moved to Esri/solutions-webappbuilder-widgets#714

[2016-12-15 17:51] #45 closed

[2016-12-15 17:51] lfunkhouser commented on #44
This issue was moved to Esri/coordinate-conversion-addin-dotnet#164

[2016-12-15 17:51] #44 closed

[2016-12-15 17:54] lfunkhouser commented on #42
This issue was moved to Esri/military-tools-geoprocessing-toolbox#195

[2016-12-15 17:54] #42 closed

[2016-12-15 17:58] lfunkhouser commented on #37
This issue was moved to Esri/solutions-webappbuilder-widgets#716

[2016-12-15 17:58] #37 closed

[2017-01-10 21:21] joebayles opened #88 "Dark theme in Pro 1.4 - White and black backgrounds for text"
There are input text boxes and non-input text boxes that have both white and black backgrounds.
![image](https://cloud.githubusercontent.com/assets/5016557/21825113/38d991d8-d737-11e6-9766-e4c20b13ab71.png)

When the above text boxes are empty, I think they look a little broken (even though they work just fine).
![image](https://cloud.githubusercontent.com/assets/5016557/21825145/615ef936-d737-11e

[2017-01-10 21:24] joebayles opened #89 "Dark theme in Pro 1.4 - Radial Buttons have no label"
![image](https://cloud.githubusercontent.com/assets/5016557/21825278/e7f8cf6c-d737-11e6-8b9c-0efe52090fc1.png)

Assuming it's similar to #66 and #79 issue regarding drop-down menus, but in the Save As dialog, the options can't be read. I can't tell if they are there and white text, or not there.

[2017-01-10 21:25] joebayles opened #90 ""Dark theme issue" Issue tracker"
As there are probably going to be several issues related to the new dark theme in ArcGIS Pro 1.4, creating a list of issues for reference.

**Military Tools for ArcGIS**
- [ ] https://github.com/Esri/military-tools-for-arcgis/issues/66 (Drop-down menus)
- [ ] https://github.com/Esri/military-tools-for-arcgis/issues/79 (Drop-down menus)
- [ ] https://github.com/Esri/military-tools-for-arcgis/issues

[2017-01-10 21:41] joebayles commented on #90
To be clear, as of the 10 January 0900 build, Distance and Direction is _basically_ fixed, but Coordinate Conversion, Military Symbol Editor, and Visibility still have issues.

[2017-01-10 21:53] joebayles commented on #90
Those interested in fixing these might look at the fixes @pHill5136 did with https://github.com/Esri/distance-direction-addin-dotnet/issues/233, because 👍 .

[2017-01-10 23:20] lfunkhouser commented on #90
This issue was moved to ArcGIS/military-tools-pro-single-add-in#12

[2017-01-10 23:20] #90 closed

[2017-01-10 23:20] lfunkhouser commented on #89
This issue was moved to ArcGIS/military-tools-pro-single-add-in#13

[2017-01-10 23:20] #89 closed

[2017-01-10 23:23] lfunkhouser commented on #88
This issue was moved to ArcGIS/military-tools-pro-single-add-in#14

[2017-01-10 23:23] #88 closed

[2017-01-10 23:23] lfunkhouser commented on #79
This issue was moved to ArcGIS/military-tools-pro-single-add-in#15

[2017-01-10 23:23] #79 closed

[2017-01-10 23:28] lfunkhouser commented on #59
Military Tools for ArcGIS in ArcMap has been updated to state that it supports ArcMap 10.3.1, 10.4, 10.4.1, and 10.5. The topics are version agnostic.

[2017-01-10 23:28] #59 closed

[2017-01-10 23:39] lfunkhouser commented on #52
Closing this issue. The 5 issues above have been moved to the Esri/solutions-webappbuilder-widgets repo

[2017-01-10 23:39] #52 closed

[2017-01-12 17:00] joebayles commented on #66
Closing because this is a duplicate.

[2017-01-12 17:00] #66 closed

[2017-01-17 23:47] ACueva opened #91 "Distance and Direction - Save As not exporting relevant fields"
## Expected Behavior
I should see exactly what the addin displays:

![1-17-2017 3-46-46 pm](https://cloud.githubusercontent.com/assets/3093940/22044940/34239ebe-dccc-11e6-95a8-9a2328fc01db.png)

Starting Point
Ending Point
Distance/ Lenght
Angle

## Current Behavior
Save As- Export to Feature Class
![1-17-2017 3-38-26 pm](https://cloud.githubusercontent.com/assets/3093940/22044754/155e7702-dccb-11

[2017-01-19 22:12] lfunkhouser commented on #40
Closing. Doc is published as a PDF.

[2017-01-19 22:12] #40 closed

[2017-01-19 22:15] lfunkhouser commented on #28
Closing. No longer valid. The tools will installed with a single add-in.

[2017-01-19 22:15] #28 closed

[2017-01-20 00:11] lfunkhouser commented on #91
This issue was moved to Esri/distance-direction-addin-dotnet#299

[2017-01-20 00:11] #91 closed